%show-submenu {
  min-height: 50px;
  padding: 10px 5px;
  height: auto;
  right: 25px;
  width: calc(100% - 25px);
}

.nested-nav__item {
  cursor: pointer;
  position: relative;
  background-color: #001546;
  margin: 3px 0;
  border-radius: 5px;

  &-title {
    padding: 15px;
    display: block;
  }

  &-has-submenu {
    &:before {
      content: '+';
      display: block;
      float: right;
      height: 100%;
      margin: 10px 5px 0;
      font-size: 18px;
      font-weight: 900;
    }
  }

  &--hovered {
    &:hover > .nested-nav-submenu {
      @extend %show-submenu;
    }
  }

  &--active {
    &:before {
      content: '-';
    }
    & > .nested-nav-submenu {
      @extend %show-submenu;
    }

    .nested-nav__item {
      background-color: #0c2a71;
    }
  }
}
