<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <%= htmlWebpackPlugin.tags.headTags %>
  </head>

  <body>
    <root>
      <section>
        <h2>Ajax Items</h2>
        <div
          style="max-width: 300px; margin: 40px"
          data-plugin_nested-nav='{"ajax":{ "url":"./navItems.json", "params": {}}}'
        ></div>
      </section>

      <section>
        <h2>static Items</h2>
        <div id="static" style="max-width: 300px; margin: 40px"></div>
      </section>
    </root>

    <%= htmlWebpackPlugin.tags.bodyTags %>

    <script type="text/javascript">
      var items = [
        {
          Id: 2,
          title: 'group2',
          Code: 11,
          children: [],
        },

        {
          Id: 1002,
          title: 'group3',
          Code: 12,
          children: [
            {
              Id: 1022,
              title: 'group3',
              Code: 132,
              children: [],
            },
            {
              Id: 1032,
              title: 'group12',
              Code: 122,
              children: [
                {
                  Id: 10322,
                  title: 'group123',
                  Code: 12333,
                  children: [],
                },
              ],
            },
          ],
        },

        {
          Id: 1003,
          title: 'g4',
          Code: 13,
          children: [],
        },
      ];

      $(function () {
        $('#static').nestedNav({
          navItems: items,
        });
      });
    </script>
  </body>
</html>
